# Config file for automatic testing at travis-ci.org
dist: bionic
language: python
python:
  - 3.7
  - 3.6
  - 3.5

# Command to install dependencies
install: pip install -U tox-travis codecov

after_success: codecov

# Command to run tests
script: tox
